.u-section-1 .u-shape-1 {height: 785px; margin-top: 0; margin-bottom: 0; margin-left: 0; position: relative; width: 1360px}
.u-section-1 .u-sheet-1 {min-height: 1220px; position: relative; margin: -785px auto 0}
.u-section-1 .u-group-1 {min-height: 534px; position: relative; height: auto; margin: 23px auto 0 0}
.u-section-1 .u-text-1 {position: relative; font-weight: 700; margin: 47px 184px 0 6px}
.u-section-1 .u-text-2 {position: relative; margin: 23px 747px 0 6px}
.u-section-1 .u-image-1 {width: 232px; height: 71px; position: relative; margin: 29px auto 0 6px}
.u-section-1 .u-text-3 {position: relative; font-weight: 700; font-size: 1.25rem; margin: -24px 43px 53px 271px}
.u-section-1 .u-image-2 {width: 988px; height: 528px; position: relative; margin: 23px auto 111px} 

@media (max-width: 1199px){ .u-section-1 .u-shape-1 {margin-left: initial; width: auto}
.u-section-1 .u-group-1 {margin-right: initial; margin-left: initial}
.u-section-1 .u-text-1 {margin-right: 152px; margin-left: 5px}
.u-section-1 .u-text-2 {margin-right: 616px; margin-left: 5px}
.u-section-1 .u-image-1 {width: 191px; height: 59px; margin-left: 5px}
.u-section-1 .u-text-3 {margin-right: 35px; margin-left: 223px}
.u-section-1 .u-image-2 {width: 815px; height: 435px} }

@media (max-width: 991px){ .u-section-1 .u-text-1 {margin-right: 116px; margin-left: 4px}
.u-section-1 .u-text-2 {margin-right: 472px; margin-left: 4px}
.u-section-1 .u-image-1 {width: 147px; height: 45px; margin-left: 4px}
.u-section-1 .u-text-3 {margin-right: 27px; margin-left: 171px}
.u-section-1 .u-image-2 {height: 333px; margin-right: initial; margin-left: initial; width: auto} }

@media (max-width: 767px){ .u-section-1 .u-text-1 {margin-left: 3px; margin-right: 87px}
.u-section-1 .u-text-2 {margin-right: 354px; margin-left: 3px}
.u-section-1 .u-image-1 {width: 137px; height: 42px; margin-left: 3px}
.u-section-1 .u-text-3 {margin-right: 20px; margin-left: 128px}
.u-section-1 .u-image-2 {height: 313px; width: auto; margin-right: initial; margin-left: initial} }

@media (max-width: 575px){ .u-section-1 .u-text-1 {font-size: 3rem; margin-left: 2px; margin-right: 55px}
.u-section-1 .u-text-2 {margin-left: 2px; margin-right: 223px}
.u-section-1 .u-image-1 {width: 115px; height: 35px; margin-left: 2px}
.u-section-1 .u-text-3 {margin-right: 13px; margin-left: 81px}
.u-section-1 .u-image-2 {width: 340px; height: 262px; margin-left: auto; margin-right: auto} }.u-section-2 .u-sheet-1 {min-height: 504px}
.u-section-2 .u-group-1 {min-height: 127px; position: relative; height: auto; margin: 79px auto 0}
.u-section-2 .u-container-layout-1 {padding-left: 0; padding-right: 0}
.u-section-2 .u-text-1 {position: relative; font-size: 3rem; margin: 15px 653px 0 12px}
.u-section-2 .u-line-1 {width: 150px; position: relative; transform-origin: right center 0; margin: -29px auto 15px 487px}
.u-section-2 .u-layout-wrap-1 {position: relative; margin: 18px 0 40px}
.u-section-2 .u-layout-cell-1 {min-height: 158px}
.u-section-2 .u-container-layout-2 {padding-left: 20px; padding-right: 20px}
.u-section-2 .u-text-2 {position: relative; margin: 0}
.u-section-2 .u-layout-cell-2 {min-height: 158px}
.u-section-2 .u-container-layout-3 {padding-left: 20px; padding-right: 20px}
.u-section-2 .u-text-3 {position: relative; margin: 0} 

@media (max-width: 1199px){ .u-section-2 .u-text-1 {margin-right: 538px; margin-left: 10px}
.u-section-2 .u-line-1 {width: 124px; margin-left: 402px}
.u-section-2 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-2 .u-container-layout-2 {padding-left: 16px; padding-right: 16px}
.u-section-2 .u-container-layout-3 {padding-left: 16px; padding-right: 16px} }

@media (max-width: 991px){ .u-section-2 .u-text-1 {margin-left: 8px; margin-right: 412px}
.u-section-2 .u-line-1 {width: 95px; margin-left: 308px}
.u-section-2 .u-container-layout-2 {padding-left: 13px; padding-right: 13px}
.u-section-2 .u-container-layout-3 {padding-left: 13px; padding-right: 13px} }

@media (max-width: 767px){ .u-section-2 .u-group-1 {margin-right: initial; margin-left: initial}
.u-section-2 .u-text-1 {width: 431px; margin-left: 6px; margin-right: 309px}
.u-section-2 .u-line-1 {width: 89px; margin-left: 231px}
.u-section-2 .u-container-layout-2 {padding-left: 9px; padding-right: 9px}
.u-section-2 .u-text-2 {left: 19px; right: 19px; margin-top: initial; margin-bottom: initial}
.u-section-2 .u-container-layout-3 {padding-left: 9px; padding-right: 9px} }

@media (max-width: 575px){ .u-section-2 .u-text-1 {margin-left: 4px; margin-right: 195px; width: auto}
.u-section-2 .u-line-1 {width: 75px; margin-left: 145px}
.u-section-2 .u-container-layout-2 {padding-left: 6px; padding-right: 6px}
.u-section-2 .u-text-2 {left: 5px; right: 12px; margin-top: initial; margin-bottom: initial}
.u-section-2 .u-container-layout-3 {padding-left: 6px; padding-right: 6px} }.u-section-3 {min-height: 680px}
.u-section-3 .u-layout-wrap-1 {position: relative; margin: 0 auto 0 0}
.u-section-3 .u-image-1 {background-image: url("images/e4ae0361b8e08f779caaf7f9a4ba6982.jpeg"); min-height: 700px; background-position: 50% 50%}
.u-section-3 .u-image-2 {background-image: url("images/775bf7941f54926b441158b883e15d12.jpeg"); min-height: 700px; background-position: 50% 50%} 

@media (max-width: 1199px){ .u-section-3 .u-layout-wrap-1 {margin-right: initial; margin-left: initial} }.u-section-4 .u-sheet-1 {min-height: 504px}
.u-section-4 .u-group-1 {min-height: 153px; position: relative; height: auto; margin: 79px auto 0}
.u-section-4 .u-container-layout-1 {padding-left: 0; padding-right: 0}
.u-section-4 .u-text-1 {position: relative; font-size: 3rem; margin: 48px 692px 0 20px}
.u-section-4 .u-line-1 {width: 150px; position: relative; transform-origin: right center 0; margin: -28px auto 15px 448px}
.u-section-4 .u-layout-wrap-1 {position: relative; margin: 18px 0 40px}
.u-section-4 .u-layout-cell-1 {min-height: 158px}
.u-section-4 .u-container-layout-2 {padding-left: 20px; padding-right: 20px}
.u-section-4 .u-text-2 {position: relative; margin: 0}
.u-section-4 .u-layout-cell-2 {min-height: 158px}
.u-section-4 .u-container-layout-3 {padding-left: 20px; padding-right: 20px}
.u-section-4 .u-text-3 {position: relative; margin: 0} 

@media (max-width: 1199px){ .u-section-4 .u-text-1 {margin-right: 571px; margin-left: 16px}
.u-section-4 .u-line-1 {width: 124px; margin-left: 369px}
.u-section-4 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-4 .u-container-layout-2 {padding-left: 16px; padding-right: 16px}
.u-section-4 .u-container-layout-3 {padding-left: 16px; padding-right: 16px} }

@media (max-width: 991px){ .u-section-4 .u-text-1 {margin-left: 13px; margin-right: 437px}
.u-section-4 .u-line-1 {width: 95px; margin-left: 283px}
.u-section-4 .u-container-layout-2 {padding-left: 13px; padding-right: 13px}
.u-section-4 .u-container-layout-3 {padding-left: 13px; padding-right: 13px} }

@media (max-width: 767px){ .u-section-4 .u-text-1 {margin-right: 328px; margin-left: 9px}
.u-section-4 .u-line-1 {width: 89px; margin-left: 212px}
.u-section-4 .u-container-layout-2 {padding-left: 9px; padding-right: 9px}
.u-section-4 .u-text-2 {left: 19px; right: 19px; margin-top: initial; margin-bottom: initial}
.u-section-4 .u-container-layout-3 {padding-left: 9px; padding-right: 9px} }

@media (max-width: 575px){ .u-section-4 .u-group-1 {margin-right: initial; margin-left: initial}
.u-section-4 .u-text-1 {margin-left: 6px; margin-right: 206px}
.u-section-4 .u-line-1 {width: 75px; margin-left: 134px}
.u-section-4 .u-container-layout-2 {padding-left: 6px; padding-right: 6px}
.u-section-4 .u-text-2 {left: 5px; right: 5px; margin-top: initial; margin-bottom: initial}
.u-section-4 .u-container-layout-3 {padding-left: 6px; padding-right: 6px} }.u-section-5 .u-sheet-1 {min-height: 814px}
.u-section-5 .u-group-1 {width: 1048px; min-height: 139px; position: relative; height: auto; margin: 68px auto 0 0}
.u-section-5 .u-container-layout-1 {padding-left: 0; padding-right: 0}
.u-section-5 .u-text-1 {position: relative; font-size: 3rem; font-weight: 700; margin: 15px 458px 0 20px}
.u-section-5 .u-line-1 {width: 150px; position: relative; transform-origin: right center 0; margin: -26px 287px 15px auto}
.u-section-5 .u-layout-wrap-1 {position: relative; width: 1140px; margin: 21px auto 60px 0}
.u-section-5 .u-layout-cell-1 {min-height: 546px; background-image: none}
.u-section-5 .u-image-1 {height: 416px; position: relative; margin: 0 auto 0 0}
.u-section-5 .u-text-2 {position: relative; font-style: italic; margin: 30px 20px}
.u-section-5 .u-layout-cell-2 {background-image: none; min-height: 546px}
.u-section-5 .u-image-2 {height: 416px; position: relative; margin: 0 auto 0 0}
.u-section-5 .u-text-3 {position: relative; font-style: italic; margin: 30px 20px}
.u-section-5 .u-layout-cell-3 {background-image: none; min-height: 546px}
.u-section-5 .u-image-3 {height: 416px; position: relative; margin: 0 auto 0 0}
.u-section-5 .u-text-4 {position: relative; font-style: italic; margin: 30px 20px} 

@media (max-width: 1199px){ .u-section-5 .u-group-1 {width: 864px}
.u-section-5 .u-text-1 {margin-right: 378px; margin-left: 16px}
.u-section-5 .u-line-1 {width: 124px; margin-right: 237px}
.u-section-5 .u-layout-wrap-1 {margin-right: initial; margin-left: initial; width: auto}
.u-section-5 .u-image-1 {height: 343px; margin-right: initial; margin-left: initial}
.u-section-5 .u-text-2 {margin-left: 16px; margin-right: 16px}
.u-section-5 .u-image-2 {height: 343px; margin-right: initial; margin-left: initial}
.u-section-5 .u-text-3 {margin-left: 16px; margin-right: 16px}
.u-section-5 .u-image-3 {height: 343px; margin-right: initial; margin-left: initial}
.u-section-5 .u-text-4 {margin-left: 16px; margin-right: 16px} }

@media (max-width: 991px){ .u-section-5 .u-group-1 {width: 662px}
.u-section-5 .u-text-1 {margin-right: 289px; margin-left: 13px}
.u-section-5 .u-line-1 {width: 95px; margin-right: 181px}
.u-section-5 .u-image-1 {height: 263px; margin-right: initial; margin-left: initial}
.u-section-5 .u-text-2 {margin-left: 13px; margin-right: 13px}
.u-section-5 .u-image-2 {height: 263px; margin-right: initial; margin-left: initial}
.u-section-5 .u-text-3 {margin-left: 13px; margin-right: 13px}
.u-section-5 .u-image-3 {height: 263px; margin-right: initial; margin-left: initial}
.u-section-5 .u-text-4 {margin-left: 13px; margin-right: 13px} }

@media (max-width: 767px){ .u-section-5 .u-group-1 {margin-right: initial; margin-left: initial; width: auto}
.u-section-5 .u-text-1 {width: 314px; margin-left: 9px; margin-right: 217px}
.u-section-5 .u-line-1 {width: 89px; margin-right: 136px}
.u-section-5 .u-layout-wrap-1 {width: 540px; margin-right: auto; margin-left: 0}
.u-section-5 .u-image-1 {height: 246px; margin-right: initial; margin-left: initial}
.u-section-5 .u-text-2 {margin-left: 9px; margin-right: 9px}
.u-section-5 .u-image-2 {height: 246px; margin-right: initial; margin-left: initial}
.u-section-5 .u-text-3 {margin-left: 9px; margin-right: 9px}
.u-section-5 .u-image-3 {height: 246px; margin-right: initial; margin-left: initial}
.u-section-5 .u-text-4 {margin-left: 9px; margin-right: 9px} }

@media (max-width: 575px){ .u-section-5 .u-text-1 {margin-left: 6px; margin-right: 137px; width: auto}
.u-section-5 .u-line-1 {width: 75px; margin-right: 86px}
.u-section-5 .u-layout-wrap-1 {margin-right: initial; margin-left: initial; width: auto}
.u-section-5 .u-image-1 {height: 207px; margin-right: initial; margin-left: initial}
.u-section-5 .u-text-2 {margin-left: 6px; margin-right: 6px}
.u-section-5 .u-image-2 {height: 207px; margin-right: initial; margin-left: initial}
.u-section-5 .u-text-3 {margin-left: 6px; margin-right: 6px}
.u-section-5 .u-image-3 {height: 207px; margin-right: initial; margin-left: initial}
.u-section-5 .u-text-4 {margin-left: 6px; margin-right: 6px} }