.u-section-1 {background-image: none}
.u-section-1 .u-sheet-1 {min-height: 790px}
.u-section-1 .u-layout-wrap-1 {margin: 70px auto 57px 0}
.u-section-1 .u-image-1 {min-height: 650px; background-image: url("images/74733c7bd7e7386f126ae93a179c781b.jpg"); background-position: 50% 0%}
.u-section-1 .u-layout-cell-2 {min-height: 650px}
.u-section-1 .u-container-layout-2 {padding-left: 60px}
.u-section-1 .u-text-1 {font-style: italic; font-size: 1.25rem; margin: 93px 279px 0 0}
.u-section-1 .u-text-2 {margin: 27px 65px 0 0}
.u-section-1 .u-text-3 {margin: 36px 65px 0 0}
.u-section-1 .u-btn-1 {background-image: none; text-transform: uppercase; font-weight: 700; letter-spacing: 1px; margin: 38px auto 114px 0} 

@media (max-width: 1199px){ .u-section-1 .u-sheet-1 {min-height: 722px}
.u-section-1 .u-layout-wrap-1 {margin-bottom: 70px; margin-right: initial; margin-left: initial}
.u-section-1 .u-image-1 {min-height: 582px}
.u-section-1 .u-layout-cell-2 {min-height: 582px}
.u-section-1 .u-container-layout-2 {padding-left: 49px}
.u-section-1 .u-text-1 {width: auto; margin-top: 54px; margin-right: 90px}
.u-section-1 .u-text-2 {line-height: 1; margin-right: 54px}
.u-section-1 .u-text-3 {width: auto; margin-top: 47px; margin-right: 54px}
.u-section-1 .u-btn-1 {margin-top: 47px; margin-bottom: 54px} }

@media (max-width: 991px){ .u-section-1 .u-sheet-1 {min-height: 704px}
.u-section-1 .u-layout-wrap-1 {margin-bottom: 53px; margin-right: initial; margin-left: initial}
.u-section-1 .u-image-1 {min-height: 564px}
.u-section-1 .u-layout-cell-2 {min-height: 564px}
.u-section-1 .u-container-layout-2 {padding-left: 31px; padding-right: 24px}
.u-section-1 .u-text-1 {margin-top: 45px; margin-right: 0}
.u-section-1 .u-text-2 {font-size: 3.75rem; width: auto; margin-right: 0}
.u-section-1 .u-text-3 {margin-right: 0}
.u-section-1 .u-btn-1 {margin-bottom: 45px} }

@media (max-width: 767px){ .u-section-1 .u-sheet-1 {min-height: 742px}
.u-section-1 .u-layout-wrap-1 {margin-bottom: 70px; margin-right: initial; margin-left: initial}
.u-section-1 .u-image-1 {min-height: 601px}
.u-section-1 .u-layout-cell-2 {min-height: 533px}
.u-section-1 .u-container-layout-2 {padding-left: 20px; padding-right: 20px}
.u-section-1 .u-text-1 {width: 514px; margin-top: 54px}
.u-section-1 .u-text-2 {width: 500px}
.u-section-1 .u-text-3 {width: 500px}
.u-section-1 .u-btn-1 {margin-right: 0; margin-bottom: 54px} }

@media (max-width: 575px){ .u-section-1 .u-image-1 {min-height: 496px}
.u-section-1 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-text-1 {margin-top: 53px; width: 340px}
.u-section-1 .u-text-2 {width: 320px}
.u-section-1 .u-text-3 {width: 320px}
.u-section-1 .u-btn-1 {margin-bottom: 53px} }.u-section-2 {background-image: none}
.u-section-2 .u-sheet-1 {min-height: 695px}
.u-section-2 .u-layout-wrap-1 {margin: 70px auto 70px 0}
.u-section-2 .u-layout-cell-1 {min-height: 555px; background-image: none}
.u-section-2 .u-container-layout-1 {padding-left: 34px; padding-right: 60px}
.u-section-2 .u-image-1 {width: 175px; height: 136px; margin: 55px auto 0 0}
.u-section-2 .u-text-1 {margin: 28px 0 0}
.u-section-2 .u-text-2 {margin: 42px 0 0}
.u-section-2 .u-link-1 {letter-spacing: 2px; text-transform: uppercase; margin: 42px auto 55px 0}
.u-section-2 .u-image-2 {min-height: 555px; background-image: url("images/mj.jpg"); background-position: 50% 6.07%} 

@media (max-width: 1199px){ .u-section-2 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-2 .u-container-layout-1 {padding-left: 28px; padding-right: 49px}
.u-section-2 .u-image-1 {width: 144px; height: 112px} }

@media (max-width: 991px){ .u-section-2 .u-sheet-1 {min-height: 597px}
.u-section-2 .u-layout-wrap-1 {margin-bottom: -9px; margin-right: initial; margin-left: initial}
.u-section-2 .u-layout-cell-1 {min-height: 457px}
.u-section-2 .u-container-layout-1 {padding-left: 18px; padding-right: 31px}
.u-section-2 .u-image-1 {width: 102px; height: 71px; margin-top: 44px}
.u-section-2 .u-text-1 {font-size: 2.25rem; width: auto; margin-top: 18px}
.u-section-2 .u-text-2 {margin-top: 24px}
.u-section-2 .u-link-1 {margin-bottom: 44px}
.u-section-2 .u-image-2 {min-height: 457px} }

@media (max-width: 767px){ .u-section-2 .u-sheet-1 {min-height: 695px}
.u-section-2 .u-layout-wrap-1 {margin-bottom: 70px; margin-right: initial; margin-left: initial}
.u-section-2 .u-layout-cell-1 {min-height: 455px}
.u-section-2 .u-container-layout-1 {padding-left: 20px; padding-right: 20px}
.u-section-2 .u-image-1 {width: 104px; height: 81px; margin-top: 55px; margin-right: 0}
.u-section-2 .u-text-1 {margin-top: 28px; font-size: 3rem; width: 500px}
.u-section-2 .u-text-2 {margin-top: 42px}
.u-section-2 .u-link-1 {margin-right: 0; margin-bottom: 0}
.u-section-2 .u-image-2 {min-height: 555px} }

@media (max-width: 575px){ .u-section-2 .u-sheet-1 {min-height: 654px}
.u-section-2 .u-layout-cell-1 {min-height: 458px}
.u-section-2 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-text-1 {margin-top: 3px; width: 320px}
.u-section-2 .u-image-2 {min-height: 368px} }.u-section-3 {background-image: none}
.u-section-3 .u-sheet-1 {min-height: 696px}
.u-section-3 .u-group-1 {min-height: 101px; width: 697px; height: auto; margin: 49px auto 0}
.u-section-3 .u-container-layout-1 {padding-left: 60px; padding-right: 60px}
.u-section-3 .u-text-1 {margin: 10px 0}
.u-section-3 .u-layout-wrap-1 {width: 1140px; margin: 50px auto 70px 0}
.u-section-3 .u-image-1 {background-image: url("images/f8b26e64-353e-dee5-ea9e-39cdcef6bb67.jpg"); background-position: 50% 50%; min-height: 437px}
.u-section-3 .u-image-2 {background-image: url("images/Untitled41.jpg"); background-position: 50% 50%; min-height: 437px}
.u-section-3 .u-image-3 {background-image: url("images/Untitled9.jpg"); background-position: 50% 50%; min-height: 437px} 

@media (max-width: 1199px){ .u-section-3 .u-group-1 {width: 575px}
.u-section-3 .u-container-layout-1 {padding-left: 49px; padding-right: 49px}
.u-section-3 .u-layout-wrap-1 {margin-right: initial; margin-left: initial; width: auto} }

@media (max-width: 991px){ .u-section-3 .u-sheet-1 {min-height: 584px}
.u-section-3 .u-group-1 {width: 617px; margin-top: 70px}
.u-section-3 .u-container-layout-1 {padding-left: 31px; padding-right: 31px}
.u-section-3 .u-layout-wrap-1 {margin-top: 45px; margin-bottom: 26px; width: auto; margin-right: initial; margin-left: initial}
.u-section-3 .u-image-1 {min-height: 329px}
.u-section-3 .u-image-2 {min-height: 329px}
.u-section-3 .u-image-3 {min-height: 329px} }

@media (max-width: 767px){ .u-section-3 .u-sheet-1 {min-height: 696px}
.u-section-3 .u-group-1 {width: 540px; margin-top: 49px; margin-left: 0; margin-right: 0}
.u-section-3 .u-container-layout-1 {padding-left: 15px; padding-right: 15px}
.u-section-3 .u-layout-wrap-1 {margin-top: 50px; margin-bottom: 70px; width: auto; margin-right: initial; margin-left: initial}
.u-section-3 .u-image-1 {min-height: 437px}
.u-section-3 .u-image-2 {min-height: 437px}
.u-section-3 .u-image-3 {min-height: 437px} }

@media (max-width: 575px){ .u-section-3 .u-group-1 {width: 340px; margin-left: auto; margin-right: auto}
.u-section-3 .u-container-layout-1 {padding-left: 18px; padding-right: 18px} }.u-section-4 .u-shape-1 {width: calc(((100% - 1140px) / 2) + 356px); background-image: none; left: 0; right: auto}
.u-section-4 .u-sheet-1 {min-height: 399px; margin: 0 auto}
.u-section-4 .u-group-1 {min-height: 239px; height: auto; margin: 80px auto -29px 0}
.u-section-4 .u-container-layout-1 {padding-left: 20px; padding-right: 0}
.u-section-4 .u-text-1 {font-size: 1.125rem; margin: 25px 0} 

@media (max-width: 1199px){ .u-section-4 .u-shape-1 {width: 520px; margin-right: calc(((100% - 940px) / 2) + 470px); margin-left: 0; right: 0}
.u-section-4 .u-sheet-1 {min-height: 396px; margin-left: calc(((100% - 940px) / 2)); margin-right: calc(((100% - 940px) / 2))}
.u-section-4 .u-group-1 {min-height: 277px; margin-top: 59px; margin-bottom: 40px; margin-right: initial; margin-left: initial}
.u-section-4 .u-container-layout-1 {padding-left: 49px; padding-right: 49px}
.u-section-4 .u-text-1 {font-size: 1rem; margin-top: 30px; margin-bottom: 30px} }

@media (max-width: 991px){ .u-section-4 .u-shape-1 {width: 410px; margin-right: calc(((100% - 720px) / 2) + 360px)}
.u-section-4 .u-sheet-1 {min-height: 419px; margin-left: calc(((100% - 720px) / 2)); margin-right: calc(((100% - 720px) / 2))}
.u-section-4 .u-group-1 {min-height: 260px; margin-top: 80px; margin-right: initial; margin-left: initial}
.u-section-4 .u-container-layout-1 {padding-left: 38px; padding-right: 38px}
.u-section-4 .u-text-1 {margin-top: 25px; margin-bottom: 25px} }

@media (max-width: 767px){ .u-section-4 .u-shape-1 {width: 320px; margin-right: calc(((100% - 540px) / 2) + 270px)}
.u-section-4 .u-sheet-1 {min-height: 481px; margin-left: calc(((100% - 540px) / 2)); margin-right: calc(((100% - 540px) / 2))}
.u-section-4 .u-group-1 {min-height: 362px; margin-top: 60px; margin-bottom: 50px; margin-right: initial; margin-left: initial}
.u-section-4 .u-container-layout-1 {padding-left: 28px; padding-right: 28px}
.u-section-4 .u-text-1 {margin-top: 35px; margin-bottom: 35px} }

@media (max-width: 575px){ .u-section-4 .u-shape-1 {width: calc(((100% - 340px) / 2) + 159px); right: auto; margin-right: 0}
.u-section-4 .u-sheet-1 {min-height: 655px; margin-left: auto; margin-right: auto}
.u-section-4 .u-group-1 {min-height: 565px; margin-top: 45px; margin-bottom: 45px; margin-right: initial; margin-left: initial}
.u-section-4 .u-container-layout-1 {padding-left: 18px; padding-right: 18px}
.u-section-4 .u-text-1 {margin-top: 25px; margin-bottom: 25px} }.u-section-5 .u-sheet-1 {min-height: 863px}
.u-section-5 .u-layout-wrap-1 {margin-top: 70px; margin-bottom: 70px}
.u-section-5 .u-layout-cell-1 {min-height: 373px}
.u-section-5 .u-container-layout-1 {padding-right: 33px; padding-left: 0}
.u-section-5 .u-text-1 {margin: 25px 0 0}
.u-section-5 .u-btn-1 {background-image: none; text-transform: uppercase; letter-spacing: 1px; font-size: 0.875rem; margin: 40px 0 25px auto}
.u-section-5 .u-image-1 {background-image: url("images/Untitled3.jpg"); min-height: 487px}
.u-section-5 .u-image-2 {background-image: url("images/b024d7a5e12a4fb6b0ef89522185c81f.jpg"); min-height: 498px}
.u-section-5 .u-layout-cell-4 {min-height: 255px; background-image: none}
.u-section-5 .u-container-layout-4 {padding-left: 16px; padding-right: 16px}
.u-section-5 .u-text-2 {margin-left: 0; margin-right: 0; position: relative; font-size: 3rem; margin-bottom: 0}
.u-section-5 .u-text-3 {font-style: italic; margin: 38px 0 35px} 

@media (max-width: 991px){ .u-section-5 .u-sheet-1 {min-height: 1837px}
.u-section-5 .u-layout-cell-1 {min-height: 319px}
.u-section-5 .u-container-layout-1 {padding-right: 21px}
.u-section-5 .u-text-1 {font-size: 3rem}
.u-section-5 .u-btn-1 {margin-bottom: 0}
.u-section-5 .u-image-2 {min-height: 552px}
.u-section-5 .u-layout-cell-4 {min-height: 369px}
.u-section-5 .u-container-layout-4 {padding-left: 10px; padding-right: 10px}
.u-section-5 .u-text-2 {margin-top: 28px}
.u-section-5 .u-text-3 {margin-bottom: 28px} }

@media (max-width: 767px){ .u-section-5 .u-container-layout-1 {padding-right: 10px}
.u-section-5 .u-container-layout-4 {padding-left: 5px; padding-right: 5px} }

@media (max-width: 575px){ .u-section-5 .u-sheet-1 {min-height: 863px}
.u-section-5 .u-layout-cell-1 {min-height: 373px}
.u-section-5 .u-btn-1 {margin-bottom: 25px}
.u-section-5 .u-image-2 {min-height: 498px}
.u-section-5 .u-layout-cell-4 {min-height: 255px}
.u-section-5 .u-text-3 {margin-bottom: 35px} }.u-section-6 {background-image: none}
.u-section-6 .u-sheet-1 {min-height: 423px}
.u-section-6 .u-group-1 {min-height: 247px; height: auto; width: 894px; margin: 88px auto 0 100px}
.u-section-6 .u-container-layout-1 {padding-left: 60px; padding-right: 60px}
.u-section-6 .u-text-1 {margin: 25px 0 0}
.u-section-6 .u-text-2 {margin: 20px 0 25px}
.u-section-6 .u-line-1 {height: 247px; transform-origin: center bottom; width: 13px; margin: -247px auto 88px 0} 

@media (max-width: 1199px){ .u-section-6 .u-sheet-1 {min-height: 387px}
.u-section-6 .u-group-1 {min-height: 248px; width: 771px; margin-top: 70px; margin-right: 66px; margin-left: auto}
.u-section-6 .u-container-layout-1 {padding-left: 16px; padding-right: 16px}
.u-section-6 .u-text-2 {margin-top: 10px}
.u-section-6 .u-line-1 {height: 248px; transform-origin: center top; margin-top: -248px; margin-bottom: 70px} }

@media (max-width: 991px){ .u-section-6 .u-sheet-1 {min-height: 378px}
.u-section-6 .u-group-1 {min-height: 262px; width: 630px; margin-top: 58px; margin-right: auto}
.u-section-6 .u-container-layout-1 {padding-left: 13px; padding-right: 13px}
.u-section-6 .u-line-1 {margin-top: -255px; margin-bottom: 65px} }

@media (max-width: 767px){ .u-section-6 .u-sheet-1 {min-height: 406px}
.u-section-6 .u-group-1 {min-height: 248px; margin-top: 71px; margin-right: 0; margin-left: 37px; width: 503px}
.u-section-6 .u-container-layout-1 {padding-left: 9px; padding-right: 9px}
.u-section-6 .u-line-1 {transform-origin: center top 0; margin-top: -248px; margin-right: 538px; margin-bottom: 40px} }

@media (max-width: 575px){ .u-section-6 .u-sheet-1 {min-height: 600px}
.u-section-6 .u-group-1 {min-height: 473px; margin-top: 40px; margin-left: 20px; width: 320px}
.u-section-6 .u-container-layout-1 {padding-left: 20px; padding-right: 20px}
.u-section-6 .u-text-1 {margin-top: 40px}
.u-section-6 .u-text-2 {margin-top: 37px; margin-bottom: 40px}
.u-section-6 .u-line-1 {margin-top: -472px; margin-right: 338px; margin-bottom: 60px} }.u-section-7 .u-sheet-1 {min-height: 936px}
.u-section-7 .u-layout-wrap-1 {margin: 75px auto 64px 0}
.u-section-7 .u-image-1 {min-height: 797px; background-image: url("images/w.jpg")}
.u-section-7 .u-layout-cell-2 {min-height: 330px; background-image: none}
.u-section-7 .u-container-layout-2 {padding-left: 16px; padding-right: 16px}
.u-section-7 .u-text-1 {margin: 35px 0 0}
.u-section-7 .u-text-2 {margin: 20px 0 35px}
.u-section-7 .u-image-2 {min-height: 467px; background-image: url("images/c1534291b74b36d63a28bf87eed8982d.jpg"); background-position: 50% 42.93%} 

@media (max-width: 1199px){ .u-section-7 .u-sheet-1 {min-height: 50vw}
.u-section-7 .u-layout-wrap-1 {margin-bottom: 53px; margin-right: initial; margin-left: initial}
.u-section-7 .u-image-1 {min-height: 817px}
.u-section-7 .u-layout-cell-2 {min-height: 340px}
.u-section-7 .u-text-1 {margin-top: 56px}
.u-section-7 .u-text-2 {margin-bottom: 0}
.u-section-7 .u-image-2 {min-height: 477px; background-position: 50% 50%} }

@media (max-width: 991px){ .u-section-7 .u-container-layout-2 {padding-left: 20px; padding-right: 20px}
.u-section-7 .u-text-1 {margin-top: 94px}
.u-section-7 .u-text-2 {margin-bottom: 35px} }

@media (max-width: 767px){ .u-section-7 .u-image-1 {min-height: 721px}
.u-section-7 .u-layout-cell-2 {min-height: 329px}
.u-section-7 .u-container-layout-2 {padding-left: 15px; padding-right: 15px}
.u-section-7 .u-text-1 {margin-top: 45px}
.u-section-7 .u-text-2 {margin-bottom: 0}
.u-section-7 .u-image-2 {min-height: 584px} }

@media (max-width: 575px){ .u-section-7 .u-sheet-1 {min-height: 1541px}
.u-section-7 .u-layout-wrap-1 {margin-top: 44px; margin-bottom: -105px; margin-right: initial; margin-left: initial}
.u-section-7 .u-image-1 {min-height: 593px}
.u-section-7 .u-layout-cell-2 {min-height: 351px}
.u-section-7 .u-container-layout-2 {padding-left: 4px; padding-right: 4px}
.u-section-7 .u-text-1 {font-size: 2.25rem; margin-top: 35px}
.u-section-7 .u-text-2 {margin-bottom: 35px}
.u-section-7 .u-image-2 {min-height: 473px} }.u-section-8 .u-sheet-1 {min-height: 426px}
.u-section-8 .u-layout-wrap-1 {position: relative; margin: 0 auto 0 0}
.u-section-8 .u-layout-cell-1 {background-image: none; min-height: 426px}
.u-section-8 .u-container-layout-1 {padding-left: 38px; padding-right: 38px}
.u-section-8 .u-text-1 {position: relative; margin: 112px 0 0}
.u-section-8 .u-text-2 {position: relative; margin: 20px 0 0}
.u-section-8 .u-form-1 {height: 47px; margin: 38px 19px 117px 0}
.u-section-8 .u-btn-1 {background-image: none; font-size: 1.125rem} 

@media (max-width: 1199px){ .u-section-8 .u-sheet-1 {min-height: 370px}
.u-section-8 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-8 .u-layout-cell-1 {min-height: 370px}
.u-section-8 .u-container-layout-1 {padding-left: 31px; padding-right: 31px}
.u-section-8 .u-text-1 {margin-top: 87px}
.u-section-8 .u-form-1 {margin-right: 16px; margin-bottom: 87px} }

@media (max-width: 991px){ .u-section-8 .u-container-layout-1 {padding-left: 20px; padding-right: 20px}
.u-section-8 .u-text-1 {margin-top: 74px}
.u-section-8 .u-form-1 {margin-right: 10px; margin-bottom: 74px} }

@media (max-width: 767px){ .u-section-8 .u-sheet-1 {min-height: 470px}
.u-section-8 .u-layout-wrap-1 {margin-top: 50px; margin-bottom: 50px; margin-right: initial; margin-left: initial}
.u-section-8 .u-container-layout-1 {padding-left: 9px; padding-right: 9px}
.u-section-8 .u-text-1 {margin-top: 35px}
.u-section-8 .u-form-1 {margin-top: 30px; margin-right: 5px; margin-bottom: 27px} }

@media (max-width: 575px){ .u-section-8 .u-container-layout-1 {padding-left: 3px; padding-right: 3px}
.u-section-8 .u-text-1 {margin-top: 31px}
.u-section-8 .u-form-1 {margin-top: 38px; margin-right: 1px; margin-bottom: 31px} }